body {
	margin: 0;
	padding: 0;
	background-image: url('../images/bgimg.png');	
	background-attachment: fixed; 
	background-repeat: repeat-x; 
	background-color: #FF6633;
	font: 9pt arial;
}

img {
    border: none;
}

#page {
	position: relative;
	width: 800px;
	left: 50%;
	height: 100%;
	margin-left: -400px;
	background-color: #FFF;
	border-left: solid 1px black;
	border-bottom: solid 1px black;
	border-right: solid 1px black;
}

#content {
	position: relative;
	border-left: solid 1px #000;
	border-top: solid 1px #000;
	margin: 0 24px 0 150px;
	padding: 10px 10px 30px;
	height: 100%;
	min-height: 800px;
}

#header {
	position: relative;
	height: 104px;
	background-image: url('../images/headerbgimg.png');
	background-repeat: repeat-x;
}

#header h1 {
	font-family: courier serif;
	color: #fff;
	font-size: 30px;
	padding: 0;
	margin: 0;

}

#header #title {
	position: absolute;
	left: 5px;
	bottom: 0;
	margin: 0;
	padding: 0;
}

#header #subtitle {
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: #624D2E;
	font-style: italic;
}


#yellowbar {
	height: 11px; 
	background-color: #FFCC00;
	border-top: solid 1px black;
	margin: 0;
	padding: 0;
}

#wrapper {
	position: relative;
	height: 100%;
	margin: 0;
}


#squares {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 24px;
	background-image: url('../images/squares.png');	
	border-top: solid 1px #000;
	background-repeat: repeat-y; 
}

#navbar {
	position: absolute;
	border-top: solid 1px #000;
	top: 0;
	left: 0;
	height: 600px;
	width: 150px;
	margin: 0;
	padding: 0;
}

.contentheader {
	position: absolute;
	font: 14pt arial;
	color: #898787;
	top: 5px;
	left: 10px;
}
.leftalign {
	float: left;
}

.rightalign {
	float: right;
}

h2 {
	font: 15pt Arial;
	color: #898787;
	margin: 5px 0 5px 0;
	padding: 0;
}
p {
	font: 1em Arial;
	color: #000;
}

pre {
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    padding: 5px;
}

.headerbox_orange {
	height: 20px;
	background-color: #FF6633;
	width: 100%;
	color: #FFF;
	font: 11pt arial black;	
	text-align: center;
	vertical-align: middle;
	padding: -5px 0 3px 0;
	margin: 0;
}

.subheader {
	font: 10pt arial;
	font-style: underline;
	color: #FCCA00;
}

input {
	font-size: 7.5pt;
}

ul.dkarrow {
	padding: 0;
	margin: 0;
	list-style-type: none;
	background-color: #624D2E;
}

ul.dkarrow li {
	background:  url("../images/lftarrow.png") transparent 30px no-repeat;
	margin: 0 0 3px 0;
	padding: 5px 0 5px 40px;
	background-color: #7C6646;
	text-align: left;
}

.box_clear {
	margin: 0;
	padding: 3px 2px;
	text-align: center;
}
.box_brown {
	margin: 0;
	padding: 3px 2px;
	background-color: #624D2E;
}

.box_brown table{
	font: 9pt arial;
	color: #FFF;
	width: 100%;
}

.box_brown table td {
	height: 20px;
	background-color: #7C6646;
	text-align: left;
	padding: 0 0 0 30px;
}
.box_brown a:link, .box_brown a:visited {
	text-decoration: none;
	color: #FFF;
}
.box_brown a:hover {
	color: #FCCA00;
}

.article {
    padding: 0 0 10px 0;
}

.newsbox {
	width: 90%;
    position: relative;
    padding: 23px 0 10px 0;
    margin: 0 0 20px 0;
}

.newsbox h2.tab_title{
	margin: 0;
	padding: 0;
	font-size: 11px;
}

.newsbox h2.tab_title {
	border-left: solid 1px #B6B4B4;
	border-top: solid 1px #B6B4B4;
	border-right: solid 1px #B6B4B4;
	height:20px;
	width: 200px;
	padding: 2px 0 0 5px;
	position: absolute;
    left: 0;
    top: 0;
	background-color: #FFF;
	background-image: url('../images/headerentrybg.png');
	background-repeat: repeat-x;
	top: 1px;
}

.newsbox .body {
	border-left: solid 1px #B6B4B4;
	border-right: solid 1px #B6B4B4;
	border-bottom: solid 1px #B6B4B4;
	border-top: solid 1px #B6B4B4;
	width: 100%;
	padding: 10px;
}

.newsbox .post_date {
    font-style: italic;
}

.post_navigation {
    padding: 0 40px 0 5px;
    height: 20px;
}

.post_navigation #previous_page {
    float: left;
}

.post_navigation #next_page {
    float: right;
}

/*Widgets*/
#login {
	background-image: url('../images/login.png');
	height: 21px;
	width: 44px;
	margin: 2px 0 0 55px;
}

#delicious {
    display: relative;
    padding: 5px 0;
}

#delicious ul {
	list-style-type: none;
    margin: 0;
    padding: 0 0 0 5px;
    font-weight: normal;
    font-size: 10px;
}

#delicious ul li {
    margin: 0 0 3px 0;
}


#footer {
    position: absolute;
    bottom: 0;
    margin: 0 0 5px 0;
}



/*images */

#postmodernfrycpu {
	margin: 20px 0 0 30px;
}

.align_bottom {
	position: absolute;
	bottom: 0;
}


/* Input Elements */

ul.comment {
	list-style-type: none;
}

ul.comment li{
    margin: 0 0 5px 0;    
}

input.text , textarea {
    width: 370px;
    font-size: 14px;
}

input.submit {
    font-size: 14px;
}

